<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messages App</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="message in messages">
                {{ message.text }} - {{ message.createdAt }}
            </li>
        </ul>
        <form v-on:submit.prevent="addMessage">
            <textarea v-model="newMessage" placeholder="Leave a message">
            </textarea>
            <div><button type="submit">Addbutton</button></div>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                messages: [],
                newMessage: ''
            },
            methods: {
                addMessage (event) {
                    if (!this.newMessage) { return; }
                    this.messages.push({
                        text: this.newMessage, createdAt: new Date()
                    });
                    this.newMessage = '';
                },
                deleteMessage () {
                    
                }
            }
        });
    </script>
    
</body>
</html>